* {
    margin: 0;
    padding: 0; 
}

body{
    background: #333;
}
/*--------------HEADER--------------*/
.title{
  font-size: 3em;
  color: #999;
  text-align:center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*--------------MAIN-----------------*/
main{
    margin: auto;
    /*width: 52.083%;*/
    width: 1000px; 
    
}
input {
  display: none;
}

#slider{
  height: 560px;
  width: 100%;
  border: 1px solid #999;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 1%;
}

.slider-bottom{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

#slider>ul{
  list-style: none;
  width: 500%;
  transition: left 0.5s;
  position: relative;  
}

#slider>ul>li {
    width: 20%;
    float: left; 
}

#slider>ul>li>img {
    margin: auto;
    width: 100%;
}

.slider-button{
    padding: auto;
}

.slider-button #button-1:checked~#slider>ul { left: 0 }
.slider-button #button-2:checked~#slider>ul { left: -100% }
.slider-button #button-3:checked~#slider>ul { left: -200% }
.slider-button #button-4:checked~#slider>ul { left: -300% }

.slider-button #button-1:checked~#text_img>ul { left: 0 }
.slider-button #button-2:checked~#text_img>ul { left: -100% }
.slider-button #button-3:checked~#text_img>ul { left: -200% }
.slider-button #button-4:checked~#text_img>ul { left: -300% }

.link_radio{
    margin-top: -63px;
    text-align: right;
}

p{
    font-size:25px;
}

.link_radio label{ 
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #999;
    transition: 0.5s;
    border-radius: 50%;
}   

.link_radio label:hover{ 
	background: #999;
}

input:checked {
    border: 8px solid #999;
  }

.link_radio label:hover{ 
    opacity: 0.6;
    cursor: pointer;
}

.bottom_block{
    display: flex;
    justify-content: space-between;
}

#text_img>ul{
    color: #999;
    list-style: none;
    width: 500%;
    transition: left 0.2s;
    position: relative;  
  }

#text_img>ul>li {
    width: 20%;
    float: left; 
}

#text_img{
    height: 30px;
    width: 91%;  
    overflow: hidden;
    margin: 20px 0;
  }